body,html{
		padding: 0;
		margin: 0;
		color: #FFF;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
	}
  body{
    overflow-x:hidden;
  }
@font-face {
    font-family: 'fontin'; /*a name to be used later*/
    src: url('/public/fonts/Fontin-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'Facebook Letter Faces'; /*a name to be used later*/
    src: url('/public/fonts/facebook-letter-faces.ttf'); /*URL to font*/
}

	/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.loader {
  display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}
	#header{
		background:#11A28F;
		margin: 0;
		height: 70vh;
		position: relative;
	}
	#logo{
		position: absolute;
		bottom:0;
		padding-bottom: 30px;
	}
	#container{
		width: 900px;
		margin-right: auto;
		margin-left: auto;
	}
	#tagline{
		font-family: 'SUNN';
    font-size: 60px;
		color: #FFF;
		letter-spacing: 8px;
		vertical-align: middle;
		font-weight: 600;
    padding-top: 30vh;
	}
	#content{
		font-size: 16px;
		color: #000;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	#content .head{
		font-size: 100px;
		font-weight: 600;
		font-family: 'HankinsteinFont';
		color: #FF4A4E;
	}
	#content .paragraph{
		font-size:18px;
		font-family: 'verdana';
		color: #FF4A4E;
		font-family: 'fontin';
		line-height: 24px;
		letter-spacing: 0px;
	}
	#content .paragraph:firsletter
	{
		float: left;
		padding:0 10px 10px;
	}
	#main{
		padding: 20% 0;
	}
  .centered{
        position: relative;
        top: 50%;
        transform:translateY(-50%);
  }
	#footer{
    color: #2B4654; 
	}
	#footer .footer-menu{
		background: #E8F1F2;
		padding: 14px 0 14px 0;
		height: 24px;
		text-transform: uppercase;
		font-family:'Facebook Letter Faces';
	}
	#footer .footer-menu ul{
		padding: 0;
		margin:0;
	}
	#footer .footer-menu li{
		float: left;
		padding-left: 10px;
		list-style: none;
	}
	#footer .footer-menu li:hover{
		text-decoration: underline;
		cursor: pointer;
	}
	#menu{
		float: right;
		margin-top: 30px;
    margin-right: 20px;
	}
	#menu .menu{
		margin-left: 30px;
	}
	#social{
		margin-top: 35px;
		float: right;
		color: #FFF;
		font-family:'Facebook Letter Faces';
	}
	#social a{
		color: #FFF;
		text-decoration: none;
	}
	#social a:hover{
		text-decoration: underline;
		cursor: pointer;
	}
	#ubuwindow{
		margin-top: 50px;
		background: #FFFFDD;
		height: 100%;
		border-radius:10px 10px 0 0;
		-webkit-border-radius:10px 10px 0 0;
		-moz-border-radius:10px 10px 0 0;
		color: #000;
	}
	#ubuwindow .title{
		padding-left: 90px;
		padding-top: 5px;	
		height: 30px;
		color: #FFF;
		border-radius:8px 8px 0 0;
		-webkit-border-radius:8px 8px 0 0;
		-moz-border-radius:8px 8px 0 0;
	}
	#ubuwindow .content{
		padding: 4px 6px;
	}
	#desk{
		padding:60px 0 0;
	}
	#travel{
		padding: 20px 0 0 140px;
	}
	#contact{

	}
	#contact a{
		margin: 20px 0;
		display:block;
		width: auto;
		color: #FFF;
		text-decoration: none;
		font-family:'Facebook Letter Faces';
		font-size: 24px;
	}
	#contact a img{
		padding: 0 10px;
	}
  .slide{
    height: 100vh;
    max-height: 100vh;
    overflow:hidden;
  }
  .pll{
    font-size: 24px;
    color: #FFF;
    font-family: 'ubuntu';
  }

.sidebar.right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 270px;
    background:#2B4654;
    color: white;
    padding: 30px;
    box-shadow: 0 0 5px black;
    font-size: 31px;
    font-family:'serif'; 
}
.sidebar h1{
  font-size: 30px;
  font-family:'verdana'; 
}
.sidebar li span{
  display: block;
  font-size: 18px;
  padding-bottom: 20px;
}
.sidebar a{
  color: #FFF;
  text-decoration: none;
}
.sidebar li{
  list-style: none;
  text-align: left;
}
.sidebar.close-btn{
  font-family: 'verdana';
}
#search{
  width: 900px;
  margin-right: auto;
  margin-left: auto;
}
#search .search{
  background: #11A28F;
  padding: 10px;
  font-size: 40px;
  border:none;
  color: #FFF;
  width: 100%;
  margin-top: 50px;
}
#overlay{
  opacity:    1; 
  background: #FFF; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed;
}
.travel{
  background:#E6D9B7;
  padding:60px 50px;
  max-width: 800px !important;
  border-radius:10px;
  margin-left:auto;
  margin-right:auto;
}
.socialcontacts{
  background:url('/public/images/socialbg.png') bottom right no-repeat #3d7ba0;
  background-size: 40% auto;
}
.travelheader{
  width: auto !important;
}
.pllver{
  display: none;
  height: 80vh;
}
#tagline-small{
  display: none;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -50px;
  margin-left: -50px;

  /* Rotate without tweening, 90 degrees CCW every second */
  animation: rotate 4s steps(4) infinite;
  -webkit-animation: rotate 4s steps(4) infinite;
}

.box {
  position: absolute;
  background-color: #000;  
}

/* This one stays put */
.box1 {  
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

/* This one drops down */
.box2 {
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  
  animation-name: drop;
  animation-duration: 1s;  
  animation-timing-function: cubic-bezier;  
  animation-iteration-count: infinite;
  
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;  
  -webkit-animation-timing-function: cubic-bezier;
  -webkit-animation-iteration-count: infinite;   
}

@keyframes drop {
  0%   { top: 0%;  left: 50%; }
  50%  { top: 50%; left: 50%; }
  100% { top: 50%; left: 50%; }
}

@-webkit-keyframes drop {
  0%   { top: 0%;  left: 50%; }
  50%  { top: 50%; left: 50%; }
  100% { top: 50%; left: 50%; }
}

@keyframes rotate {
  from { transform: rotate(0deg);    }
  to   { transform: rotate(-360deg); }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg);    }
  to   { -webkit-transform: rotate(-360deg); }
}
@media screen and (max-width: 720px){
  .pll span{
    display: block;
    padding-left: 0 !important;
    text-align: center;
    padding-top: 10px;
  }
  #container{
    width: 300px;
  }
  #main{
    padding: 50px 0 0;
  }
   #content{
    width: 100%;
  }
  #content .paragraph{
    padding:0 10px 0 !important;
  }
  .head img{
    width: 300px;
  }
    #menu{
    margin-top: 30px;
    margin-right: 0px;
  }
  #menu .menu{
    margin-left: 20px;
  }
    #tagline{
    display: none;
  }
  #logo{
    height:30 !important; 
  }
  #tagline-small{
    padding-top: 20vh;
    display: block;
  }
  #tagline-small img{
    height: 30vh;
  }
  .travel{
    padding:20px;
    width:300px !important;
  }
  .travel .paragraph{
    margin-top: 0 !important;
  }
  .travel .theworld{
    padding-left: 50px;
  }
  #social{
    font-size: 11px;
  }
      .socialcontacts{
    background-size: 70% auto;
  }
  #desk img{
    margin-top: -20px;
    margin-left: -30px;
    height: 30vh !important;
  }
  .pllmain{
    padding-top: 0 !important;
  }
    .pllhor{
    display: none;
  }
  .pllver{
    display: block;
  }
}